* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    color: #e3a881; 
    font-size: 64px; 
    border-bottom: 1px solid #e3a881;
    display: inline-block;
    margin-bottom: 32px; 
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section {
    text-align: center;
}
.about-section * {
    margin: 8px 0;
}

.experience-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.experience-wrapper div {
    margin-top: 64px;
}

.experience-wrapper ul {
    list-style: none;
    margin: 16px 0;
}

.experience-wrapper li {
    margin: 8px 0;
}

.travel-section {
    flex-direction: row;

}

.travel-section h1 {
    margin: 0 0 0 50px;
}

.travel-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 32px;
}

.travel-section div {
    margin: 32px;
}

.map {
    width: 300px;
    height: 300px; 
}

main {
    background: rgb(241, 239, 240);
}

.about {
    background: url("/background\ 1.jpg");
    background-position-y: 65%;
    background-size: cover;
}

nav {
    color: white;
    width: 100%;
    position: fixed;
    background: black;
    padding: 0 2rem;
    height: 60px;
}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-header {
    all: unset;
    font-size: 1.5rem;
}

.nav-links {
    width: 250px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-travel-link {
    margin-right: 1.5rem;
}